.containerCard {

  /* margin: 20px 10px; */
  width: 635px;
  height: 224px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 18px 0 0 0;
  color:#263540;
  /* border: 1px solid #e6e6e6; */
}

.headerCard {
  height: 44px;
  background-color: #425668;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
}

.pricePanel {
  display: flex;
  flex-direction: column;
  text-align: right;
  
}

.infoPrice{
  font-size: 12px;
}

.routePanel {
  padding: 0 5px;
}

.innerRoutePanel {
  border-bottom: 1px solid #e6e6e6;
  height: 41px;
  display: flex;
  align-items: center;
  padding: 12px 13px;
  box-sizing: border-box;
}


.datePanel {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 35px 12px 18px;
  height: 35px;
  box-sizing: border-box;
  /* font-size: 18px; */
}

.carrierName {
  /* border: 1px solid black; */
  height: auto;
    flex-grow: 1;
    padding: 0 18px;
    position: relative;
}

.carrierNameText {
  position: absolute;
  bottom: 12px;
}

.travelDuration {
  /* align-self: flex-end; */
  position: relative;
  top: 4px;
}

.selectButton {
  height: 38px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F61C19;
  color: #fff;
}

.price {
  font-size: 22px;
  box-sizing: border-box;
}

.departureHours {
  font-size: 18px;
}

.departureDay {
  font-size: 14px;
}