html,body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.mainContainer {
  width: 963px;
  margin: 0 auto;
  display: flex;
}
 
.filterContainer {
  background-color: #d8d8d8;
  width: 254px;
  height: auto;
}

.tripContainer {
  width: 706px;
  display: flex;
  flex-direction: column;
  padding: 0px 28px;
}